.loginform-container{

    background:#1c2135;
    transition: all 1s;;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    .loginform-container__darkMode{
        width:90%;
        display:flex;
        justify-content: center;
        padding:4px;


        .btn-darkMode{
            display:flex;
            justify-content: center;
            align-items: center;
            box-shadow: none;

        }

        .bx-sun{
            font-size:30px;
            font-weight: 500;
            color:#ffba49;
            
            
        }
    
    }








     // img

     .loginform-container__img{
        width:95%;
        height:35%;
        // background: rebeccapurple;
        display:flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .loginform-container__img > img{
        width:90%;
        height: 90%;
        object-fit: 90%;
        object-position: center;
    }









    // form

    .loginform-container__form{
        // background:red;
        width:95%;
        height:55%;
        padding:10px;

        .loginform-container-form__input > input{
            background:rgba(255,255,255,.1);
            line-height: 3;
            border-radius:10px;
            border:none;
            color:#fff;
            box-shadow: none;
            
        }
        
        .loginform-container-form__input > input::placeholder{
            font-size: 17px;
        }

        
        .loginform-container-form__input > span{
            background:rgba(255,255,255,.1);
            border:none;
            outline: none;
            padding:0 18px 0 18px;
            border-radius:10px;

            .bx-envelope, .bx-lock-alt{
                font-size: 25px;
            }
        }

        .loginform-container-form__button{
            // background:green;

            .btn{
                background:#ffba49;
                color:#1c2135;
                font-weight: 600;
                line-height: 3;
                width:250px;
                border-radius:10em;
            }
        }

        
            .loginform-container-form__footer{
                // background: blue;
                display: flex;
                justify-content: center;

            }
        
    }
}






















































// darMode
.loginform-container-light{
    background:#fff;
    transition: all 1s;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    .loginform-container__darkMode-light{
        // background:red;
        width:90%;
        display:flex;
        justify-content: center;
        padding:4px;
        .btn-darkMode-light{
            // background: blue;
            display:flex;
            justify-content: center;
            align-items: center;
            box-shadow: none;
            
            .bxs-moon{
                font-size:30px;
                font-weight: 500;
                color:#1f2f98;
            }
        }


    }













    // img

    .loginform-container__img-light{
        width:95%;
        height:34%;
        // background: rebeccapurple;
        display:flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .loginform-container__img-light > img{
        width:90%;
        height: 90%;
        object-fit: 90%;
        object-position: center;

    }


















    // form-Darkmode

    .loginform-container__form-light{
        // background:red;
        width:95%;
        height:55%;
        padding:10px;
        .loginform-container-form__title{
            color:#262626;
        }

        .loginform-container-form__input-light > input{
            
            box-shadow: none;
            background:#eee;
            line-height: 3;
            border-radius: 10px;
            border:none;
            color:#262626;
            
        }
        .loginform-container-form__input-light > input::placeholder{
            font-size: 17px;
        }

        
        .loginform-container-form__input-light > span{
           
            background:#eee;
            border:none;
            outline: none;
            padding:0 18px 0 18px;
            border-radius: 10px;

            .bx-envelope, .bx-lock-alt{
                font-size: 25px;
            }
        }

        .loginform-container-form__button-light{
            // background:green;

            .btn{
                background:#1f2f98;
                color:#eee;
                font-weight: 600;
                line-height: 3;
                width:250px;
                border-radius:10em;
            }
        }

        
            .loginform-container-form__footer{
                // background: blue;
                display: flex;
                justify-content: center;

            }
    }
}






